<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.web>
		<customErrors mode="Off" />
	</system.web>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
       <handlers>
<remove name="aspNetCore"/>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
      </handlers>
      <aspNetCore processPath=".\Ahk.Web.Server.exe" stdoutLogEnabled="true" stdoutLogFile="..\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
